<!DOCTYPE html>
<html ng-app="noteBookApp">

<head>
  <title>Note Book</title>
  <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">

  <script type="text/javascript" src="/lib/angular/angular.min.js"></script>
  <script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script type="text/javascript" src="/lib/lodash/dist/lodash.min.js"></script>
  <script type="text/javascript" src="/lib/moment/min/moment.min.js"></script>
  <script type="text/javascript" src="/lib/moment-timezone/builds/moment-timezone.min.js"></script>

  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/factory.js"></script>
  <script type="text/javascript" src="/js/controllers.js"></script>
</head>

<body>
  <div class="container">
    <h1>Note Book</h1>
    <hr/>
    <ng-view></ng-view>
  </div>

</body>



</html>
